{% extends 'admin.html' %}
{% block content %}



<div class="table-responsive" id="sailorTableArea">
    <table id="sailorTable" class="table table-striped table-bordered css-serial" width="100%" >
 
        <thead>
            <tr>
                <th>No</th>
                <th>NAME</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Delname</th>
                <th>DelAddress</th>
                <th>Select Staff</th>
                <th></th>
            
            </tr>
        </thead>
        <tbody>
                {% for buy in buy %}
            <tr>
                
                <td></td>
                <td>{{buy.name}}</td>
                <td>{{buy.brand}}</td>
                <td>{{buy.price}}</td>
                <td>{{buy.delname}}</td>
                <td>{{buy.deladdress}}</td>
                <form action="/staffadd/{{buy.id}}" method="POST">
                <td>
                    <select name="staff">
                        <option></option>
                        {% for user in user%}
                        <option value="{{user.id}}">{{user.username}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input type="submit"></td>
                </form>
             
            </tr>
            {% endfor%}
        </tbody>
    </table>
    </div>


<style>

.css-serial {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}


</style>



    {% endblock %}